body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #FFD900;
    width: 100%;
    height: auto;
}

nav img {
    margin-top: 27px;
    margin-left: 38px;
    margin-bottom: 28px;
}

/* parte da descricao do evento */

section {
    display: flex;
}

.descricao {
    display: grid;
    grid-auto-flow: row;
    background-color: #514988;
    width: 50%;
    height: auto;
}

#iddesc {
    height: auto;
}

.descricao div {
    margin: 2rem;
}

.descricao h1 {
    font-size: 50px;
    color: #F3C61F;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
}

.descricao h4 {
    font-size: 25px;
    color: white;
    text-align: center;
}

.descricao p {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

/* parte da countdown do evento / video */

#timer {
    display: grid;
    grid-auto-flow: column;
    margin-top: 30px;
    text-align: center;
}

#timer {
    color: #514988;
    font-weight: bold;
    text-align: center;
}

.secaotimer {
    display: grid;
    grid-auto-flow: column;
}

.secaotimer p {
    display: flex;
    text-align: center;
    font-size: 60px;
    margin-left: 0;
}

.secaotimer h1 {
    display: flex;
    justify-content: end;
    margin-right: 0px;
    font-size: 60px;
    align-items: center;
}

.countdown {
    width: 50%;
    margin-bottom: 0;
    margin-top: 0;
}

#subtitulo {
    color: #E33881;
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
}

video {
    width: 1000px;
    margin: 10px 30px;
}

/* Parte rodapé site */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 350px;
}

#ingressos {
    width: 60%;
    text-align: center;
}

#ingressos p {
    color: #F3C61F;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
}

#botao {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: auto;
}

button {
    background-color: #514988;
    width: 500px;
    border: none;
    border-radius: 15px;
    height: 100px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}